/.idea/
/target/
/kafka-beginning/.idea/
/kafka-beginning/target/
/kafka-beginning/*.iml
/twitter/.idea/
/twitter/target/
twitter/*.iml
/common/.idea/
/common/target/
/common/*iml
/elasticsearch/.idea/
/elasticsearch/target/
/elasticsearch/*.iml









